<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/styling :: head-stuff">

</head>
<body>
	<div class="container">
		<h1>Welcome to Our Blog Post Site!</h1>
		<h3>Check out our blogs!</h3>
		
		<div class="row">
			<div th:each="blogPost : ${blogPosts}">
		        <div class="col-md-6">
		            <div class="panel panel-default">
		                <div class="panel-heading">
		                    <p th:text="${blogPost.title}"/>
						</div>
					    <div class="panel-body">
							<p th:text="${blogPost.author}"/>
							<p th:text="${blogPost.blogEntry}" />
					    </div>
					    <div class="panel-footer">
						<a class="btn btn-primary" th:href="@{/blog_posts/edit/{id}(id=${blogPost.id})}">Edit Post</a>
						<form action="#" th:action="@{'/blog_posts/delete/{id}'(id=${blogPost.id})}" th:method="delete" class="form-horizontal">
						   <button type="submit" class="btn btn-danger">Delete</button>
						</form>
		            </div>
		          </div>
		        </div>
		    </div>
		</div>
		<a class= "btn btn-primary" th:href="@{/blog_posts/new}">Submit a New Blog Post</a>
	</div>
<div th:replace="fragments/styling :: body-stuff"></div>

</body>
</html>

